@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

.mask {
  position: relative;
}

.mask:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.mask--dark:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.mask-child {
  position: relative;
  z-index: 1;
}

.section_title {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #363636;
  font-weight: 700;
  text-align: center;
}

.container {
  width: 1170px;
}

header {
  height: 125px;
}

header .header_block {
  padding-top: 50px;
}

header .header_block .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_block .menu__list {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

header .header_block .menu__list a {
  color: #333333;
  text-decoration: none;
  padding-bottom: 15px;
}

header .header_block .menu__list a:hover {
  border-bottom: 5px solid #4571d5;
}

header .header_block .hamburger {
  display: none;
}

header .header_block .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header_block .contacts__tel {
  font-size: 18px;
  line-height: 25px;
  color: #545454;
  font-weight: 300;
  text-align: right;
  text-decoration: none;
}

header .header_block .contacts__btn {
  font-size: 18px;
  line-height: 25px;
  color: #4571d5;
  font-weight: 300;
  text-align: right;
}

@media (max-width: 767px) {
  header .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 18px;
  }
  header .hamburger span {
    display: block;
    background-color: #333333;
    height: 2px;
    width: 100%;
    margin-bottom: 5px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  header .hamburger_active span {
    margin-bottom: -2px;
  }
  header .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  header .hamburger_active span:nth-child(2) {
    display: none;
  }
  header .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.banner {
  background-image: url("/img/baner.png");
  height: 490px;
}

.banner__text h1 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}

.banner__text p {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.banner__text p a {
  color: #fff;
  text-decoration: none;
}

.banner__form {
  width: 300px;
  height: 360px;
  background-color: #fff;
  padding: 20px;
}

.banner__form_title {
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  text-align: center;
}

.banner__form form {
  text-align: center;
}

.banner__form form input {
  padding: 10px 5px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #747474;
  font-weight: 400;
  width: 100%;
}

.banner__form form input[type="name"] {
  height: 80px;
}

.banner__form form input[type="submit"] {
  width: 100%;
  background-color: #E7a300;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.booking {
  padding-top: 80px;
}

.booking__block {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.booking__wrap_row {
  border: 4px solid #4671d5;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}

.booking__wrap_row span {
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  font-size: 12px;
  letter-spacing: 0px;
  color: #4671d5;
  font-weight: 700;
}

.booking__wrap_descr {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.booking__descr {
  padding-top: 50px;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

.booking__galery {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.booking__galery_img {
  max-width: 350px;
  max-height: 250px;
}

.booking__btn {
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid #4571d5;
  color: #4571d5;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.popular {
  padding-top: 80px;
  padding-bottom: 80px;
}

.popular__card {
  border: 1px solid #b5b5b5;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.popular__card img {
  -ms-grid-row: 1;
      grid-row-start: 1;
  max-width: 100%;
  display: block;
}

.popular__card_body {
  -ms-grid-row: 2;
      grid-row-start: 2;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.popular__card_top {
  padding: 20px 0;
  border-bottom: 1px solid #b5b5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__card_top .card_title {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  font-weight: 500;
}

.popular__card_top .card_info {
  font-size: 12px;
  line-height: 18px;
  color: #b5b5b5;
  font-weight: 500;
  display: inline;
}

.popular__card_top span {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 500;
}

.popular__card_center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 0;
  list-style-position: inside;
}

.popular__card_center ul li {
  font-size: 12px;
  line-height: 27px;
  color: #555555;
  font-weight: 500;
}

.popular__card_center ul li::marker {
  color: #4571d5;
}

.popular__card_price {
  font-size: 18px;
  line-height: 20px;
  color: #27a733;
  font-weight: 500;
  text-align: center;
}

.popular__card_submit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 30px;
  background-color: #E7a300;
  margin: 0 auto;
}

.popular__card_submit a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */